# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args:
          - "--maxkb=10000"
      - id: check-merge-conflict
      - id: check-json
      - id: mixed-line-ending
      - id: fix-byte-order-marker
      - id: debug-statements

  - repo: https://github.com/google/yamlfmt
    rev: v0.20.0
    hooks:
      - id: yamlfmt

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.3
    hooks:
      - id: ruff
        args:
          - --fix
          - --unsafe-fixes
      - id: ruff-format

  - repo: https://github.com/biomejs/pre-commit
    rev: v2.3.2
    hooks:
      - id: biome-check
        name: biome check
        entry: bash -c 'cd docs && biome check --write --files-ignore-unknown=true --no-errors-on-unmatched'
        language: system
        files: '^docs/.*\.(js|ts|jsx|tsx|json|jsonc|mdx|md|css)$'
        pass_filenames: false

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.7
    hooks:
      - id: uv-lock
